#####################################################################
#   Macros
#####################################################################
[include nozzle_scrub.cfg]

#####################################################################

[gcode_macro M600]
description: Filament change
gcode: PAUSE X=10 Y=10 Z_MIN=50

#####################################################################

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : False ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#####################################################################

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  75
variable_purge_distance:  40
gcode:
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_distance} F1500 # fast-load
    G1 E{purge_distance} F300 # purge
    RESTORE_GCODE_STATE NAME=load_state

#####################################################################

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance:  75
variable_purge_distance:  25
gcode:
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E-{purge_distance} F300 # purge
    G1 E-{unload_distance} F1500 # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state

#####################################################################

#####################################################################

[gcode_macro HEATSOAK_CHAMBER]
gcode:
  M106 S100 ;set fan speed 100
  M140 S100 ;set bed temp 100c
  G28 X Y Z ;home axis
  G1 X175 Y175 Z100 ;move centre of chamber

#####################################################################

[gcode_macro PARK]
gcode:
    {% set th = printer.toolhead %}
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} Z30  

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
    PARK
    RESTORE_GCODE_STATE NAME=STATE_G32

#####################################################################

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    # Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}

    STATUS_HEATING
    M117 Heating bed
    M190 S{bedtemp}       ; Wait for bed to get to target temperature.

    M117 Preheating nozzle
    M109 S150                  ; Wait for nozzle to heat to 150C - soften filament, but no oozing.

    M107                       ; Print fan off
    STATUS_HOMING
    M117 Homing
    G28                        ; Home - G28 or G32 depending on printer.
    STATUS_LEVELING
    M117 Levelling
    QUAD_GANTRY_LEVEL           
    G28 Z

    STATUS_MESHING
    M117 Meshing
    BED_MESH_CALIBRATE 

    STATUS_HEATING
    M117 Heating nozzle
    M109 S{hotendtemp}  ; Wait for nozzle to get to target temperature.
    STATUS_READY
    G90                 ; Absolute coordinates.
    M83                 ; Relative extruder mode.

    BED_MESH_PROFILE LOAD=default
    
    M117 Priming
    G92 E0.0            #reset extruder distance position
    G1 X10 Y10 Z0.3 F3000       #move to prime line position
    G1 X60 E10.0 F1000  #intro line
    G1 X200 E30 F500   # intro line
    G92 E0.0      #reset extruder distance position
    G90
   
    M117 Printing

#####################################################################

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-18 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Disable steppers
    M84    
    TURN_OFF_HEATERS

    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
  

